.v-dialog{
    width: 100%;
}
.theme--light.v-picker__body{
    background: #dbdbdb;
}
.datePicker .v-date-picker-table .v-btn.v-btn--active{
    color:#424242;
}
.datePicker .v-time-picker-title{
    color:#424242;
}